{{!-- 
    Page de verification des comptes utilisateur (retour du mail)
 --}}

 <h3>Félicitation</h3>
 <h2><u>{{ sess.pseudo }}</u></h2>

 <h5>Cliké sur le bouton en dessous pour Certifier la validation de vôtre compte</h5>

<p>Déconnecte et reconnect pour le voir afficher dans les logs ;) </p>

<form action="/mailer/cert/:id" method="post" enctype="application/x-www-form-urlencoded">
    <button type="submit"> Certifier </button>
</form>