{{!-- 
    Page de création de compte Utilisateur ('/create')
 --}}

<h1>Test handlebars & MongoDB Local & Auth</h1>

<h3>Créé un compte</h3>

{{!-- 
    Formulaire de création de compte
 --}}
<form action="/auth/createUser" method="post" enctype="application/x-www-form-urlencoded">
    <input type="email" class="form-control" name="email" placeholder="Entrez votre email !" />
    <input type="password" class="form-control" name="password" placeholder="Entrez votre mot de passe" />
    <input type="password" class="form-control" name="passwordConfirm" placeholder="Confirmez votre mot de passe" />
    <input type="submit" value="OK" />
</form>