{{!-- 
    Page pour se connecter ('/login')
 --}}

<h1>Test handlebars & MongoDB Local & Auth</h1>

<h3>Se connecter</h3>

{{!-- 
    Formulaire d'authentification
 --}}
<form action="/auth/authentification" method="post" enctype="application/x-www-form-urlencoded">
    <input type="email" class="form-control" name="email" placeholder="Entrez votre email !" />
    <input type="password" class="form-control" name="password" placeholder="Entrez votre mot de passe" />
    <input type="submit" value="OK" />
</form>