{{!-- 
    Page lostPassword
    Nous en avons besoin pour confirmer le création d'un nouveau password
 --}}

<h2>Mail New Password</h2>

<h3>Merci de confirmer votre nouveau mot de passe</h3>

<form action="/auth/formMailNewPassword" method="post" enctype="application/x-www-form-urlencoded">
    <input type="email" class="form-control" name="email" placeholder="Entrez votre Email" />
    <input type="password" class="form-control" name="password" placeholder="Entrez votre mot de passe" />
    <input type="password" class="form-control" name="passwordConfirm" placeholder="Confirmez votre mot de passe" />
    <input type="submit" value="OK" />
</form>
