<div class="cont">
    <div class="cont bdr-left">
        <h3>Liste Models</h3>
        <div class="flx">
            {{#each dbModel }}
            <div class="column">
                <div class="flx bdr-left">
                    <p class="itm">Name: {{ name }}</p>
                    <p class="itm">Email: {{ email }}</p>
                </div>
                {{#if ../isAdmin }}
                <div class="flx">
                    <a class="btn-primary bdr-radius" href="/admin/delModel/{{_id}}">
                        Supprimer
                    </a>
                </div>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
</div>