{{!--

    Création de notre page HTML en handlebars que l'on renvoi sur notre page racine grace à nodeJS 

    // Server.js
    app.get('/', function (req, res) {
        res.render('index')
    })

--}}


<h1>Test handlebars</h1>