/* Text-color */
.txt-green {color: #026782}
.txt-red {color: red}
.txt-blue {color: blue}
.txt-yellow {color: #f7cd50}
.txt-purple {color: rgba(128, 0, 128, 1)}
.txt-cyan {color: cyan}

/* Border */
.bdr-green {border: solid 2px #026782}
.bdr-red {border: solid 2px red}
.bdr-blue {border: solid 2px blue}
.bdr-yellow {border: solid 2px #f7cd50}
.bdr-purple {border: solid 2px rgba(128, 0, 128, 1)}
.bdr-cyan {border: solid 2px cyan}

/* Background */
.bg-green {background-color: #026782}
.bg-red {background-color: red}
.bg-blue {background-color: blue}
.bg-yellow {background-color: #f7cd50}
.bg-purple {background-color: rgba(128, 0, 128, 0.8)}
.bg-cyan {background-color: cyan}
.bg-pink {background-color: pink}

/* Body */
body {margin: 0;padding: 0;background-color: #052632; color: #ffffff;}
a {margin: 0;text-decoration: none;}
ul {margin: 0;padding: 0;}
li {list-style: none;}

.cont {padding: 10px;}
.cont-ex {padding: 10px; min-height: 110vh;}
/* Flex */
.cont-flex {
    display: flex;
    padding: 10px;
}

.cont-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.cont-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}
.cont-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.cont-column-reverse {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
}

/* Flex-Wrap */
.cont-nowrap {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}
.cont-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.cont-wrap-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 10px;
}
/* Flex-Flow */
.cont-flow1 {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}
.cont-flow2 {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    padding: 10px;
}

/* Justify-content */
.cont-flx-start {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
.cont-flx-end {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.cont-flx-center {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.cont-flx-space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.cont-flx-space-around {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


/* align-items */
/* Il faut que la div soit intancier avec flex (nous cumulons cont-row plus al-xxxx dans nos exemples) */
.al-start {
    align-items: flex-start;
}
.al-end {
    align-items: flex-end;
}
.al-center {
    align-items: center;
}
.al-baseline {
    align-items: baseline;
}
.al-stretch {
    align-items: stretch;
}

/* align-content */
/* Il faut que la div soit intancier avec flex (nous cumulons cont-row plus al-xxxx dans nos exemples) */
.al-ctnt-start {
    flex-wrap: wrap;
    align-content: flex-start
}
.al-ctnt-end {
    flex-wrap: wrap;
    align-content: flex-end;
}
.al-ctnt-center {
    flex-wrap: wrap;
    align-content: center;
}
.al-ctnt-space-between {
    flex-wrap: wrap;
    align-content: space-between;
}
.al-ctnt-space-around {
    flex-wrap: wrap;
    align-content: space-around;
}

/* Item */
.item-1 {
    width: 20%;
    height:  auto;
    margin: 5px;
    padding: 5px;
}
.item-2 {
    width: 20%;
    height:  auto;
    margin: 5px;
    padding: 5px;
}
.item-3 {
    width: 20%;
    height: auto;
    margin: 5px;
    padding: 5px;
}
.item-4 {
    width: 20%;
    height:  auto;
    margin: 5px;
    padding: 5px;
}
.item-5 {
    width: 20%;
    height:  auto;
    margin: 5px;
    padding: 5px;
}