<div class="cont">

    {{> admin/website }}

    {{> admin/rdv }}

    {{> admin/message }}

    {{> admin/models }}

    {{> admin/articles }}

    {{> admin/achats }}

    {{> admin/users }}

</div>