<section class="section">
  <div class="cont txt-center">
    <h1><u>{{ section.title }}</u></h1>

    <div class="ju-center txt-center">
      {{#each section.stitle}}
      <p class="itm"> {{this}} </p>
      {{/each}}
    </div>

  </div>
</section>
<style>
  .section {
    padding-top: 20vh;
    height: 60vh;
  }
</style>