{{!-- 
    Page lostPassword
    Nous en avons besoin pour confirmer le création d'un nouveau password
 --}}

<h2>Page Mot de passe Oublier</h2>

<form action="/mailer/lostPassword" method="post" enctype="application/x-www-form-urlencoded">
    <input type="email" class="form-control" name="email" placeholder="Entrez votre email !" />
    <input type="submit" value="OK" />
</form>