

<div class="cont bdr-left">
    <h3>Formulaire Create 'Article'</h3>
    <form class="column middle" action="/shop/createArticle" method="post" enctype="application/x-www-form-urlencoded">
        <div class="flx">
            <input type="text" class="form-control itm bdr-radius" name="name" placeholder="Nom de l'article" />
            <input type="number" class="form-control itm bdr-radius" name="price" placeholder="Prix de l'article !" />
            <input type="text" class="form-control itm bdr-radius" name="imgArticle"
                placeholder="Mettre liens d'une image" />
        </div>
        <div class="flx">
            <textarea class="itm" name="description" cols="100" rows="10"
                placeholder="Description de vôtre article ..."></textarea>
        </div>
        <input class="bdr-radius btn-secondary" type="submit" value="OK" />
    </form>
</div>
