{{!-- Ceci est le partial de votre NavBar --}}

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">À Propos</a></li>
        <li><a href="/projet">Projet</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
</nav>