{{!-- 
    Page Mon Compte
    * Vous devez absolument mettre un mail valide pour votre user vu que le mail est envoyer depuis req.session.email
    L'email JojoCoin2019 @ gmail.com est mis a disposition mais sinon vous devez configurer vos parametre de votre boite mail
    La personne qui repond l'explique très bien ici : https://stackoverflow.com/questions/54219737/nodejs-nodemailer-username-and-password-not-accepted

--}}

 <h2>Bienvenu sur la page du compte de <u>{{ sess.pseudo }}</u></h2>

    </br>

 <h3>Mon premier mail avec nodemailer</h3>

<a href="/mailer/test">
    <button>test a l'art hash</button>
</a>

 <h3>Mon premier mail de Vérification</h3>

<a href="/mailer/verifMail">
    <button>Mail de vérification</button>
</a>
