<footer class="w100">
    <div class="cont flx">
        <div class="itm w40 column txt-center bdr-radius">Contact</div>
        <div class="itm w30 column txt-center bdr-radius">Sitemap</div>
        <div class="itm w30 column txt-center bdr-radius">Réseaux</div>
    </div>

</footer>

<style>
    footer {
        background-color: #65107f;
        bottom: 0;
        width: 100%;
    }
    .w100 {
        width: 100%
    }

    .w40 {
        width: 40%
    }

    .w30 {
        width: 30%
    }
</style>